body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 2em; /* 小さめに */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#timer {
    font-size: 3em; /* タイマーのサイズを小さく */
}
